{:profiles
 {:goku {:default true
         :sim     50
         :delay   80
         :alone   120
         :held    70}
  :pDQ {:default false
        :sim     50
        :delay   80
        :alone   120
        :held    70}
  :US {:default false
        :sim     50
        :delay   80
        :alone   120
        :held    70}
  :DQ {:default false
        :sim     50
        :delay   80
        :alone   120
        :held    70}
    :test {:default false
        :sim     50
        :delay   80
        :alone   120
        :held    70}}
 :templates {:alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :open "open \"%s\""
             }
 :simlayers {
             :2-mode {:key :2}
             :3-mode {:key :3}
             :4-mode {:key :4}
             :tab-mode {:key :tab}
             :q-mode {:key :q}
             :w-mode {:key :w}
             :e-mode {:key :e}
             :r-mode {:key :r}
             :t-mode {:key :t}
             :i-mode {:key :i}
             :o-mode {:key :o}
             :caps-mode {:key :caps_lock}
             :a-mode {:key :a}
             :s-mode {:key :s}
             :d-mode {:key :d}
             :f-mode {:key :f}
             :g-mode {:key :g}
             :semicolon-mode {:key :semicolon}
             :tilde-mode {:key :grave_accent_and_tilde}
             :z-mode {:key :z}
             :x-mode {:key :x}
             :c-mode {:key :c}
             :v-mode {:key :v}
             :b-mode {:key :b}
             :n-mode {:key :n}
             :m-mode {:key :m}
             :dot-mode {:key :period}
             :spacebar-mode {:key :spacebar}
             :slash-mode {:key :slash}
             :go-mode {:key :period :condi ["in-go" 1]}
             :js-mode {:key :period :condi ["in-js" 1]}
             :swift-mode {:key :period :condi ["in-swift" 1]}
             :rust-mode {:key :period :condi ["in-rust" 1]}
             :py-mode {:key :period :condi ["in-python" 1]}
             :elixir-mode {:key :period :condi ["in-elixir" 1]}
             }
 :main [{:des "colonkey (shift)"
         :rules [:semicolon-mode
                 [:1 :!T1]
                 [:2 :!T2]
                 [:3 :!T3]
                 [:4 :!T4]
                 [:5 :!T5]
                 [:q :!Sq]
                 [:w :!Sw]
                 [:e :!Se]
                 [:r :!Sr]
                 [:t :!St]
                 [:y :!Sy]
                 [:u :!Su]
                 [:i :!Si]
                 [:o :!So]
                 [:p :!Sp]
                 [:a :!Sa]
                 [:s :!Ss]
                 [:d :!Sd]
                 [:f :!Sf]
                 [:g :!Sg]
                 [:h :!Sh]
                 [:j :!Sj]
                 [:k :!Sk]
                 [:l :!Sl]
                 [:grave_accent_and_tilde [:!Sgrave_accent_and_tilde]] ; -> ~
                 [:comma :!Scomma]
                 [:period :!Speriod]
                 [:slash :!Sslash]
                 [:quote :!Squote]
                 [:z :!Sz]
                 [:x :!Sx]
                 [:c :!Sc]
                 [:v :!Sv]
                 [:b :!Sb]
                 [:n :!Sn]
                 [:m :!Sm]]}
 {:des "colonkey (shift)"
         :rules [:pDQ
                 :semicolon-mode
                 [:1 :!T1]
                 [:2 :!T2]
                 [:3 :!T3]
                 [:4 :!T4]
                 [:5 :!T5]
                 [:q :!Sq]
                 [:w :!Sw]
                 [:e :!Se]
                 [:r :!Sr]
                 [:t :!St]
                 [:y :!Sy]
                 [:u :!Su]
                 [:i :!Si]
                 [:o :!So]
                 [:p :!Sp]
                 [:a :!Sa]
                 [:s :!Ss]
                 [:d :!Sd]
                 [:f :!Sf]
                 [:g :!Sg]
                 [:h :!Sh]
                 [:j :!Sj]
                 [:k :!Sk]
                 [:l :!Sl]
                 [:grave_accent_and_tilde [:!Sgrave_accent_and_tilde]] ; -> ~
                 [:comma :!Scomma]
                 [:period :!Speriod]
                 [:slash :!Sslash]
                 [:quote :!Squote]
                 [:z :!Sz]
                 [:x :!Sx]
                 [:c :!Sc]
                 [:v :!Sv]
                 [:b :!Sb]
                 [:n :!Sn]
                 [:m :!Sm]]}
 {:des "colonkey (shift)"
         :rules [:DQ
                 :semicolon-mode
                 [:1 :!T1]
                 [:2 :!T2]
                 [:3 :!T3]
                 [:4 :!T4]
                 [:5 :!T5]
                 [:q :!Sq]
                 [:w :!Sw]
                 [:e :!Se]
                 [:r :!Sr]
                 [:t :!St]
                 [:y :!Sy]
                 [:u :!Su]
                 [:i :!Si]
                 [:o :!So]
                 [:p :!Sp]
                 [:a :!Sa]
                 [:s :!Ss]
                 [:d :!Sd]
                 [:f :!Sf]
                 [:g :!Sg]
                 [:h :!Sh]
                 [:j :!Sj]
                 [:k :!Sk]
                 [:l :!Sl]
                 [:grave_accent_and_tilde [:!Sgrave_accent_and_tilde]] ; -> ~
                 [:comma :!Scomma]
                 [:period :!Speriod]
                 [:slash :!Sslash]
                 [:quote :!Squote]
                 [:z :!Sz]
                 [:x :!Sx]
                 [:c :!Sc]
                 [:v :!Sv]
                 [:b :!Sb]
                 [:n :!Sn]
                 [:m :!Sm]]}
  {:des "akey (ctrl)"
         :rules [:a-mode
                 [:tab :!Ttab]
                 [:spacebar :!Tspacebar]
                 [:return_or_enter :!Treturn_or_enter]
                 [:open_bracket :!Topen_bracket]
                 [:close_bracket :!Tclose_bracket]
                 [:semicolon :!Tsemicolon]
                 [:quote :!Tquote]
                 [:comma :!Tcomma]
                 [:period :!Tperiod]
                 [:slash :!Tslash]
                 [:b :!Tb]
                 [:c :!Tc]
                 [:d :!Td]
                 [:e :!Te]
                 [:f :!Tf]
                 [:g :!Tg]
                 [:h :!Th]
                 [:i :!Ti]
                 [:j :!Tj]
                 [:k :!Tk]
                 [:l :!Tl]
                 [:m :!Tm]
                 [:n :!Tn]
                 [:o :!To]
                 [:p :!Tp]
                 [:q :!Tq]
                 [:r :!Tr]
                 [:s :!Ts]
                 [:t :!Tt]
                 [:u :!Tu]
                 [:v :!Tv]
                 [:w :!Tw]
                 [:x :!Tx]
                 [:y :!Ty]
                 [:z :!Tz]
                 [:1 :!T1]
                 [:2 :!T2]
                 [:3 :!T3]
                 [:4 :!T4]
                 [:5 :!T5]
                 [:6 :!T6]
                 [:7 :!T7]
                 [:8 :!T8]
                 [:9 :!T9]
                 [:0 :!T0]]}
  {:des "akey (ctrl)"
         :rules [:pDQ
                 :a-mode
                 [:tab :!Ttab]
                 [:spacebar :!Tspacebar]
                 [:return_or_enter :!Treturn_or_enter]
                 [:open_bracket :!Topen_bracket]
                 [:close_bracket :!Tclose_bracket]
                 [:semicolon :!Tsemicolon]
                 [:quote :!Tquote]
                 [:comma :!Tcomma]
                 [:period :!Tperiod]
                 [:slash :!Tslash]
                 [:b :!Tb]
                 [:c :!Tc]
                 [:d :!Td]
                 [:e :!Te]
                 [:f :!Tf]
                 [:g :!Tg]
                 [:h :!Th]
                 [:i :!Ti]
                 [:j :!Tj]
                 [:k :!Tk]
                 [:l :!Tl]
                 [:m :!Tm]
                 [:n :!Tn]
                 [:o :!To]
                 [:p :!Tp]
                 [:q :!Tq]
                 [:r :!Tr]
                 [:s :!Ts]
                 [:t :!Tt]
                 [:u :!Tu]
                 [:v :!Tv]
                 [:w :!Tw]
                 [:x :!Tx]
                 [:y :!Ty]
                 [:z :!Tz]
                 [:1 :!T1]
                 [:2 :!T2]
                 [:3 :!T3]
                 [:4 :!T4]
                 [:5 :!T5]
                 [:6 :!T6]
                 [:7 :!T7]
                 [:8 :!T8]
                 [:9 :!T9]
                 [:0 :!T0]]}
  {:des "akey (ctrl)"
         :rules [:DQ
                 :a-mode
                 [:tab :!Ttab]
                 [:spacebar :!Tspacebar]
                 [:return_or_enter :!Treturn_or_enter]
                 [:open_bracket :!Topen_bracket]
                 [:close_bracket :!Tclose_bracket]
                 [:semicolon :!Tsemicolon]
                 [:quote :!Tquote]
                 [:comma :!Tcomma]
                 [:period :!Tperiod]
                 [:slash :!Tslash]
                 [:b :!Tb]
                 [:c :!Tc]
                 [:d :!Td]
                 [:e :!Te]
                 [:f :!Tf]
                 [:g :!Tg]
                 [:h :!Th]
                 [:i :!Ti]
                 [:j :!Tj]
                 [:k :!Tk]
                 [:l :!Tl]
                 [:m :!Tm]
                 [:n :!Tn]
                 [:o :!To]
                 [:p :!Tp]
                 [:q :!Tq]
                 [:r :!Tr]
                 [:s :!Ts]
                 [:t :!Tt]
                 [:u :!Tu]
                 [:v :!Tv]
                 [:w :!Tw]
                 [:x :!Tx]
                 [:y :!Ty]
                 [:z :!Tz]
                 [:1 :!T1]
                 [:2 :!T2]
                 [:3 :!T3]
                 [:4 :!T4]
                 [:5 :!T5]
                 [:6 :!T6]
                 [:7 :!T7]
                 [:8 :!T8]
                 [:9 :!T9]
                 [:0 :!T0]]}
        {:des "ekey (cmd)"
         :rules [:e-mode
                 [:tab :!Ctab]
                 [:spacebar :!Cspacebar]
                 [:return_or_enter :!Creturn_or_enter]
                 [:open_bracket :!Copen_bracket]
                 [:close_bracket :!Cclose_bracket]
                 [:semicolon :!Csemicolon]
                 [:quote :!Cquote]
                 [:comma :!Ccomma]
                 [:period :!Cperiod]
                 [:slash :!Cslash]
                 [:a :!Ca]
                 [:b :!Cb]
                 [:c :!Cc]
                 [:d :!Cd]
                 [:f :!Cf]
                 [:g :!Cg]
                 [:h :!Ch]
                 [:i :!Ci]
                 [:j :!Cj]
                 [:k :!Ck]
                 [:l :!Cl]
                 [:m :!Cm]
                 [:n :!Cn]
                 [:o :!Co]
                 [:p :!Cp]
                 [:q :!Cq]
                 [:r :!Cr]
                 [:s :!Cs]
                 [:t :!Ct]
                 [:u :!Cu]
                 [:v :!Cv]
                 [:w :!Cw]
                 [:x :!Cx]
                 [:y :!Cy]
                 [:z :!Cz]
                 [:1 :!C1]
                 [:2 :!C2]
                 [:3 :!C3]
                 [:4 :!C4]
                 [:5 :!C5]
                 [:6 :!C6]
                 [:7 :!C7]
                 [:8 :!C8]
                 [:9 :!C9]
                 [:0 :!C0]]}
        {:des "ekey (cmd)"
         :rules [:pDQ
                 :e-mode
                 [:tab :!Ctab]
                 [:spacebar :!Cspacebar]
                 [:return_or_enter :!Creturn_or_enter]
                 [:open_bracket :!Copen_bracket]
                 [:close_bracket :!Cclose_bracket]
                 [:semicolon :!Csemicolon]
                 [:quote :!Cquote]
                 [:comma :!Ccomma]
                 [:period :!Cperiod]
                 [:slash :!Cslash]
                 [:a :!Ca]
                 [:b :!Cb]
                 [:c :!Cc]
                 [:d :!Cd]
                 [:f :!Cf]
                 [:g :!Cg]
                 [:h :!Ch]
                 [:i :!Ci]
                 [:j :!Cj]
                 [:k :!Ck]
                 [:l :!Cl]
                 [:m :!Cm]
                 [:n :!Cn]
                 [:o :!Co]
                 [:p :!Cp]
                 [:q :!Cq]
                 [:r :!Cr]
                 [:s :!Cs]
                 [:t :!Ct]
                 [:u :!Cu]
                 [:v :!Cv]
                 [:w :!Cw]
                 [:x :!Cx]
                 [:y :!Cy]
                 [:z :!Cz]
                 [:1 :!C1]
                 [:2 :!C2]
                 [:3 :!C3]
                 [:4 :!C4]
                 [:5 :!C5]
                 [:6 :!C6]
                 [:7 :!C7]
                 [:8 :!C8]
                 [:9 :!C9]
                 [:0 :!C0]]}
        {:des "ekey (cmd)"
         :rules [:DQ
                 :e-mode
                 [:tab :!Ctab]
                 [:spacebar :!Cspacebar]
                 [:return_or_enter :!Creturn_or_enter]
                 [:open_bracket :!Copen_bracket]
                 [:close_bracket :!Cclose_bracket]
                 [:semicolon :!Csemicolon]
                 [:quote :!Cquote]
                 [:comma :!Ccomma]
                 [:period :!Cperiod]
                 [:slash :!Cslash]
                 [:a :!Ca]
                 [:b :!Cb]
                 [:c :!Cc]
                 [:d :!Cd]
                 [:f :!Cf]
                 [:g :!Cg]
                 [:h :!Ch]
                 [:i :!Ci]
                 [:j :!Cj]
                 [:k :!Ck]
                 [:l :!Cl]
                 [:m :!Cm]
                 [:n :!Cn]
                 [:o :!Co]
                 [:p :!Cp]
                 [:q :!Cq]
                 [:r :!Cr]
                 [:s :!Cs]
                 [:t :!Ct]
                 [:u :!Cu]
                 [:v :!Cv]
                 [:w :!Cw]
                 [:x :!Cx]
                 [:y :!Cy]
                 [:z :!Cz]
                 [:1 :!C1]
                 [:2 :!C2]
                 [:3 :!C3]
                 [:4 :!C4]
                 [:5 :!C5]
                 [:6 :!C6]
                 [:7 :!C7]
                 [:8 :!C8]
                 [:9 :!C9]
                 [:0 :!C0]]}
        {:des "qkey (cmd + shift)"
         :rules [:q-mode
                 [:3 :!CS3]
                 [:4 :!CS4]
                 [:5 :!CS5]
                 [:6 :!CS6]
                 [:7 :!CS7]
                 [:8 :!CS8]
                 [:9 :!CS9]
                 [:0 :!CS0]
                 [:w :!CSw]
                 [:e :!CSe]
                 [:r :!CSr]
                 [:t :!CSt]
                 [:y :!CSy]
                 [:u :!CSu]
                 [:i :!CSi]
                 [:o :!CSo]
                 [:p :!CSp]
                 [:open_bracket :!CSopen_bracket]
                 [:close_bracket :!CSclose_bracket]
                 [:a :!CSa]
                 [:s :!CSs]
                 [:d :!CSd]
                 [:f :!CSf]
                 [:g :!CSg]
                 [:h :!CSh]
                 [:j :!CSj]
                 [:k :!CSk]
                 [:l :!CSl]
                 [:semicolon :!CSsemicolon]
                 [:quote :!CSquote]
                 [:z :!CSz]
                 [:x :!CSx]
                 [:c :!CSc]
                 [:v :!CSv]
                 [:b :!CSb]
                 [:n :!CSn]
                 [:m :!CSm]
                 [:comma :!CScomma]
                 [:period :!CSperiod]
                 [:slash :!CSslash]
                 [:spacebar :!CSOe]]} ; Selection -> YouTube        {:des "ekey (cmd)"
        {:des "qkey (cmd + shift)"
         :rules [:pDQ
                 :q-mode
                 [:3 :!CS3]
                 [:4 :!CS4]
                 [:5 :!CS5]
                 [:6 :!CS6]
                 [:7 :!CS7]
                 [:8 :!CS8]
                 [:9 :!CS9]
                 [:0 :!CS0]
                 [:w :!CSw]
                 [:e :!CSe]
                 [:r :!CSr]
                 [:t :!CSt]
                 [:y :!CSy]
                 [:u :!CSu]
                 [:i :!CSi]
                 [:o :!CSo]
                 [:p :!CSp]
                 [:open_bracket :!CSopen_bracket]
                 [:close_bracket :!CSclose_bracket]
                 [:a :!CSa]
                 [:s :!CSs]
                 [:d :!CSd]
                 [:f :!CSf]
                 [:g :!CSg]
                 [:h :!CSh]
                 [:j :!CSj]
                 [:k :!CSk]
                 [:l :!CSl]
                 [:semicolon :!CSsemicolon]
                 [:quote :!CSquote]
                 [:z :!CSz]
                 [:x :!CSx]
                 [:c :!CSc]
                 [:v :!CSv]
                 [:b :!CSb]
                 [:n :!CSn]
                 [:m :!CSm]
                 [:comma :!CScomma]
                 [:period :!CSperiod]
                 [:slash :!CSslash]
                 [:spacebar :!CSOe]]} ; Selection -> YouTube        {:des "ekey (cmd)"
        {:des "qkey (cmd + shift)"
         :rules [:DQ
                 :q-mode
                 [:3 :!CS3]
                 [:4 :!CS4]
                 [:5 :!CS5]
                 [:6 :!CS6]
                 [:7 :!CS7]
                 [:8 :!CS8]
                 [:9 :!CS9]
                 [:0 :!CS0]
                 [:w :!CSw]
                 [:e :!CSe]
                 [:r :!CSr]
                 [:t :!CSt]
                 [:y :!CSy]
                 [:u :!CSu]
                 [:i :!CSi]
                 [:o :!CSo]
                 [:p :!CSp]
                 [:open_bracket :!CSopen_bracket]
                 [:close_bracket :!CSclose_bracket]
                 [:a :!CSa]
                 [:s :!CSs]
                 [:d :!CSd]
                 [:f :!CSf]
                 [:g :!CSg]
                 [:h :!CSh]
                 [:j :!CSj]
                 [:k :!CSk]
                 [:l :!CSl]
                 [:semicolon :!CSsemicolon]
                 [:quote :!CSquote]
                 [:z :!CSz]
                 [:x :!CSx]
                 [:c :!CSc]
                 [:v :!CSv]
                 [:b :!CSb]
                 [:n :!CSn]
                 [:m :!CSm]
                 [:comma :!CScomma]
                 [:period :!CSperiod]
                 [:slash :!CSslash]
                 [:spacebar :!CSOe]]} ; Selection -> YouTube        {:des "ekey (cmd)"
        {:des "right cmd -> Alfred"
         :rules [[:right_command :right_command nil {:alone :!CTOSspacebar}]]}
        {:des "left cmd -> cmd+tab"
         :rules [[:left_command :left_command nil {:alone :!Ctab}]]}
        {:des "right cmd -> Alfred"
         :rules [:pDQ
                 [:right_command :right_command nil {:alone :!CTOSspacebar}]]}
        {:des "left cmd -> cmd+tab"
         :rules [:pDQ
                 [:left_command :left_command nil {:alone :!Ctab}]]}
        {:des "right cmd -> Alfred"
         :rules [:DQ
                 [:right_command :right_command nil {:alone :!CTOSspacebar}]]}
        {:des "left cmd -> cmd+tab"
         :rules [:DQ
                 [:left_command :left_command nil {:alone :!Ctab}]]}
        {:des "skey (essential)"      
         :rules [:s-mode
                 ;[:spacebar :!CT9] ; Selection -> Google
                 [:spacebar [:open "/System/Applications/Siri.app"]]
                 [:semicolon :return_or_enter]
                 [:e :tab]
                 [:r :!Stab]
                 [:quote [:!Cleft_arrow :!CSright_arrow]] ; Highlight current line
                 [:w [:!Oleft_arrow :!OSright_arrow]] ; Highlight word
                 [:d :delete_or_backspace]
                 [:f :return_or_enter]
                 [:c :!Cdelete_or_backspace]
                 [:g :!Ctab]
                 [:##h :left_arrow]
                 [:##j :down_arrow]
                 [:##k :up_arrow]
                 [:##l :right_arrow]
                 [:n :!Cv] ; Paste
                 [:##b :!Cleft_arrow]
                 [:##m :!Cright_arrow]
                 [:a :!Cc] ; Copy
                 [:u :!Cx]]} ; Cut
        {:des "vkey (websites)"
         :rules [:v-mode
                 [:a [:km "w: GitHub"]]
                 [:o [:km "w: Learning.Oreilly"]]
]}
        {:des "wkey (apps)"
         :rules [:w-mode
                 [:a :!OSC1]
                 [:b [:km "open: BetterTouchTool"]]
                 [:c [:km "open: Coda"]]
                 [:d [:km "open: Paw"]]
                 [:e [:km "open: Path Finder"]]
                 [:f [:km "open: Firefox Developer Edition"]]
                 [:g [:km "open: GitKraken"]]
                 [:h [:km "open: Chrome Canary"]]
                 [:i [:km "open: Code Insiders"]]
                 [:j [:km "open: iTerm"]]
                 [:k [:km "open: Safari"]]
                 [:l [:km "open: Code"]]
                 [:m [:km "open: Music"]]
                 [:n [:km "open: "]]
                 [:o [:km "open: "]]
                 [:p [:km "open: PyCharm"]]
                 [:q [:km "open: Araxis Merge"]]
                 [:r [:km "open: Finder"]]
                 [:s [:km "open: "]]
                 [:t [:km "open: Tower"]]
                 [:u [:km "open: "]]                 
                 [:v [:km "open: Vivaldi"]]
                 [:x [:km "open: "]]
                 [:y [:km "open: "]]
                 [:z [:km "open: "]]
                 [:o [:km "open: "]]
                 [:caps_lock [:km "open: "]]
                 [:semicolon [:km "open: Sublime Text"]]
                 [:spacebar [:km "open: "]]
                 [:quote [:km "open: "]]
                 [:comma [:km "open: "]]
                 [:slash [:km "open: "]]
                 [:open_bracket [:km "open: "]]
                 [:close_bracket [:km "open: "]]
                 [:backslash [:km "open: Moom"]]
                 [:period [:km "open: SnippetsLab"]]
                 ]}
        {:des "okey (apps)"
         :rules [:o-mode
                 [:a :!OSC1]
                 [:b [:km "open: Books"]]
                 [:c [:km "open: "]]
                 [:d [:km "open: "]]
                 [:e [:km "open: "]]
                 [:f [:km "open: "]]
                 [:g [:km "open: "]]
                 [:h [:km "open: "]]
                 [:i [:km "open: "]]
                 [:j [:km "open: Terminal"]]
                 [:k [:km "open: Keyboard Maestro"]]
                 [:l [:km "open: "]]
                 [:m [:km "open: Mail"]]
                 [:n [:km "open: "]]
                 [:p [:km "open: "]]
                 [:q [:km "open: qutebrowser"]]
                 [:r [:km "open: Remote Mouse"]]
                 [:s [:km "open: "]]
                 [:t [:km "open: Time Out"]]
                 [:u [:km "open: "]]                 
                 [:v [:km "open: Vivaldi (MySpeed)"]]
                 [:x [:km "open: "]]
                 [:y [:km "open: "]]
                 [:z [:km "open: "]]
                 [:caps_lock [:km "open: "]]
                 [:semicolon [:km "open: "]]
                 [:spacebar [:km "open: "]]
                 [:quote [:km "open: "]]
                 [:comma [:km "open: "]]
                 [:slash [:km "open: "]]
                 [:open_bracket [:km "open: "]]
                 [:close_bracket [:km "open: "]]
                 [:backslash [:km "open: iBoy"]]
                 [:period [:km "open: SnippetsLab"]]
                 ]}
        {:des "fkey (essential)"
         :rules [:f-mode
                 [:i [:km "Run selected text as command in iterm"]]
                 ]}
        {:des "gkey (navigation)"
         :rules [:g-mode
                 [:h :!TOleft_arrow]
                 [:l :!TOright_arrow]
                 [:j :!TOj]
                 [:k :!TOk]
                 [:u :!TOu]
                 [:i :!TOi]
                 [:d :!TOd]
                 [:f :!TOf]
                 [:a :!TOg]
                 [:e :!TOe]
                 [:t :!TOt]
                 [:equal_sign :!TOequal_sign]
                 [:hyphen :!TOhyphen]
                 [:n :!TFf4]
                 [:!Sn :!TSFf4]
                 ]}
         {:des "rkey (apps)"
         :rules [:r-mode
                 [:a [:km "open: Alfred Preferences"]]
                 [:k [:km "open: Keyboard Maestro"]]
                 [:i [:km "Run selected text as command in iterm"]]
                 [:caps_lock [:km "open: Preview"]]
                 [:h [:km "open: Photos"]]
                 [:j [:km "open: "]]
                 [:e [:km "open: PDF Expert"]]
                 [:semicolon [:km "open: Books"]]
                 [:t [:km "open: Trello"]]
                 ]}
        {:des "3key (projects)"
         :rules [:3-mode
                        [:k [:km "edit: Karabiner.edn"]]]}
        {:des "spacebar-mode"
          :rules [:spacebar-mode
                  [:0 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'Default'"]]
                  [:1 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'goku'"]]
                  [:2 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'pDQ'"]]
                  [:3 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'DQ'"]]
                  [:4 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'US'"]]
                  [:5 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'test'"]]
                  ]}
        {:des "spacebar-mode"
          :rules [:rules 
                  :pDQ
                  :spacebar-mode
                  [:0 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'Default'"]]
                  [:1 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'goku'"]]
                  [:2 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'pDQ'"]]
                  [:3 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'DQ'"]]
                  [:4 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'US'"]]
                  [:5 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'test'"]]
                  ]}
        {:des "spacebar-mode"
          :rules [:rules 
                  :DQ
                  :spacebar-mode
                  [:0 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'Default'"]]
                  [:1 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'goku'"]]
                  [:2 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'pDQ'"]]
                  [:3 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'DQ'"]]
                  [:4 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'US'"]]
                  [:5 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'test'"]]
                  ]}
        {:des "spacebar-mode"
          :rules [:rules 
                   :US
                  :spacebar-mode
                  [:0 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'Default'"]]
                  [:1 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'goku'"]]
                  [:2 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'pDQ'"]]
                  [:3 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'DQ'"]]
                  [:4 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'US'"]]
                  [:5 ["'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'test'"]]
                  ]}
        {:des "slashkey (custom)"
         :rules [:slash-mode
                [:1 :!COT1]
                [:2 :!COT2]
                [:a :!FS1]]}]}
