      {:des "okey (apps)"
       :rules [:o-mode
                [:grave_accent_and_tilde [:km "open: "]]
                [:1 [:km "open: "]]
                [:2 [:km "open: "]]
                [:3 [:km "open: "]]
                [:4 [:km "open: "]]
                [:5 [:km "open: "]]
                [:6 [:km "open: "]]
                [:7 [:km "open: "]]
                [:8 [:km "open: "]]
                [:9 [:km "open: "]]
                [:0 [:km "open: "]]
                [:hyphen [:km "open: "]]
                [:equal_sign [:km "open: "]]
                [:delete_or_backspace [:km "open: "]]
                [:tab [:km "open: "]]
                [:q [:km "open: "]]
                [:w [:km "open: "]]
                [:e [:km "open: "]]
                [:r [:km "open: "]]
                [:t [:km "open: "]]
                [:y [:km "open: "]]
                [:u [:km "open: "]]
                [:i [:km "open: "]]
                ;[:o [:km "open: "]]
                [:p [:km "open: "]]
                [:open_bracket [:km "open: "]]
                [:close_bracket [:km "open: "]]
                [:backslash [:km "open: "]]
                [:caps_lock [:km "open: "]]
                [:a [:km "open: "]]
                [:s [:km "open: "]]
                [:d [:km "open: "]]
                [:f [:km "open: "]]
                [:g [:km "open: "]]
                [:h [:km "open: "]]
                [:j [:km "open: "]]
                [:k [:km "open: "]]
                [:l [:km "open: "]]
                [:semicolon [:km "open: "]]
                [:quote [:km "open: "]]
                [:return_or_enter [:km "open: "]]
                [:left_shift [:km "open: "]]
                [:z [:km "open: "]]
                [:x [:km "open: "]]
                [:c [:km "open: "]]
                [:v [:km "open: "]]
                [:b [:km "open: "]]
                [:n [:km "open: "]]
                [:m [:km "open: "]]
                [:comma [:km "open: "]]
                [:period [:km "open: "]]
                [:slash [:km "open: "]]
                [:right_shift [:km "open: "]]
                [:fn [:km "open: "]]
                [:left_control [:km "open: "]]
                [:left_option [:km "open: "]]
                [:left_command [:km "open: "]]
                [:spacebar [:km "open: "]]
                [:right_command [:km "open: "]]
                [:right_option [:km "open: "]]
                [:left_arrow [:km "open: "]]
                [:up_arrow [:km "open: "]]
                [:down_arrow [:km "open: "]]
                [:right_arrow [:km "open: "]]
