; productivity
keyboard maestro
karabiner elements
karabiner eventviewer
bettertouchtool
alfred
key codes
fantastical
monodraw
task paper
pomodone app
appgrid
amethyst
rectangle
moom
magnet
mosaic
vimac
time out
bartender 
haze over
amphetamine
toothfairy

; office
twitter
spark
mail
messages
mail for gmail
slack
notes
microsoft outlook
microsoft onedrive
microsoft word
microsoft excel
microsoft onenote
notes
ulysses
bear


; setapp
setapp
screens
glyphfinder
mouseless
jump desktop
mac pilot
remote mouse
boom 3d
paste
lacona
rocket typist
slidepad
coherence x
unite
iboy
hazeover
forklift
commander one
path finder
gemini
focus
endurance
dropzone
dcommander
coderunner
cloudmounter
cleanshot x
chronosync express
capto
betterzip
be focused
anytrans for iOS
anytrans for android
aeon timeline
filepane
folio
folx
gifox
iconjar
image2icon
inboard
ithoughtsx
keykey typing tutor
marginnote
marsedit
mate translate
mathkey
mindnode
mission corol plus
mockuuups studio
moneywiz
noizio
numi
permute
pixelsnap
pocketCAS
prowriting aid
pulltube
rapidweaver
renamer
secrets
sheetplanner
shimo
shortmenu
sidenotes
silenz
simon
sip
spotless
squash
ssh config editor
start
taskheat
taskpaper
timemator
timing
trickster
typeface
ubar
unclutter
unibox
wifi explorer
workspaces
yoink



; web browser
safari technology preview
microsoft edge dev
firefox
firefox nightly
firefox developer edition
chrome
chrome canary
opera dev
opera neon
vivaldi
vivaldi (myspeed)
qutebrowser
brave browser dev

; text / markdown editors
macvim
emacs
onivim
vimr
marked
typora
macdown
textastic
textedit
trello

; web dev
jayson
json query
paste json as code
insomnia
paw
postman
proxyman
coda
expre
runJS
webstorm

; design

bootstrap studio


; developer tools
araxis merge
tower
gitfox
sublime merge
snippetslab
gitkraken
expressions
sip
nteract


; utilities
cleanmymac x
appcleanerbra

; data
SQL Pro Studio
SQLPro for SQLite
base
mongodb compass
tableplus
postico

; docs
book
pdf expert
pdfpen
preview
prizimo
pdf search
djview

; apple
finder
contacts
calendar
reminders
console
activity monitor
keychain access
mission control
siri
automator
font book
photos
music
siri
system preferences
dictionary
calculator
voice memos
screenshot
quicktime player


; editors developer tools
sublime text
code
code insiders
IDEA
GoLand
RubyMine
pycharm


keycastr
2do

dash
terminal
hyper
alacritty
kitty
