{:profiles
 {:goku {:default true
         :sim     50
         :delay   80
         :alone   120
         :held    70}}
 :templates {:alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%4s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :open "open \"%s\""
             }
 :devices {:HHKB [{:vendor_id 1278 :product_id 33}]
           :REALFORCE [{:vendor_id 2131 :product_id 328}]
 :applications {:chromes ["^com\\.google\\.Chrome$" "^com\\.google\\.Chrome\\.canary$"]}
 :input-sources {:us {:input_mode_id ""
                          :input_source_id "com.apple.keylayout.US"
                          :language "en"}}}
 :simlayers {
 		:2-mode {:key :2}
                :3-mode {:key :3}
                :semicolon-mode {:key :semicolon}     
                :e-mode {:key :e}
                :w-mode {:key :w}}
 :main [{:des "realforce right cmd -> Alfred"
         :rules [:REALFORCE
	        [:right_option :right_command nil {:alone :!CTOSspacebar}]]}
        {:des "realforce right option"
         :rules [:REALFORCE
	        [:##right_command :right_option]]}
       {:des "realforce left command"
         :rules [:REALFORCE
	        [:##left_command :left_option]]}
        {:des "realfroce left opt -> cmd+tab"
         :rules [:REALFORCE
                 [:left_option :left_command nil {:alone :!Ctab}]]}
        {:des   "caps_lock to esc when pressed alone, to ctrl as modifier"
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des "right cmd -> Alfred"
         :rules [[:right_command :right_command nil {:alone :!CTOSspacebar}]]}
        {:des "left cmd -> cmd+tab"
         :rules [[:left_command :left_command nil {:alone :!Ctab}]]}
        {:des "w/, (apps)"
         :rules [:w-mode
                [:q [:km "open: qutebrowser"]]
                [:e [:km "open: Finder"]]
                [:t [:km "open: 2Do"]]
                [:o [:km "open: Keyboard Maestro"]]
                [:a :!OSC1] ; Open Dash
                [:d [:km "open: Dash"]]
                [:f [:km "open: Fantastical"]]
                [:g [:km "open: GitKraken"]]
                [:h [:km "open: Paw"]]
                [:j [:km "open: iTerm"]]
                [:k [:km "open: Safari"]]
                [:l [:km "open: Code"]]
                [:semicolon [:km "open: MacVim"]]
                [:quote [:km "open: Emacs"]]
                [:v [:km "open: Music"]]
                [:b [:km "open: BetterTouchTool"]]
                [:n [:km "open: Sublime Text"]]
                [:period [:km "open: SnippetsLab"]]
                ]}
        {:des "ekey (cmd)"
         :rules [:e-mode
                 [:tab :!Ctab]
                 [:spacebar :!Cspacebar]
                 [:return_or_enter :!Creturn_or_enter]
                 [:open_bracket :!Copen_bracket]
                 [:close_bracket :!Cclose_bracket]
                 [:semicolon :!Csemicolon]
                 [:quote :!Cquote]
                 [:comma :!Ccomma]
                 [:period :!Cperiod]
                 [:slash :!Cslash]
                 [:a :!Ca]
                 [:b :!Cb]
                 [:c :!Cc]
                 [:d :!Cd]
                 [:f :!Cf]
                 [:g :!Cg]
                 [:h :!Ch]
                 [:i :!Ci]
                 [:j :!Cj]
                 [:k :!Ck]
                 [:l :!Cl]
                 [:m :!Cm]
                 [:n :!Cn]
                 [:o :!Co]
                 [:p :!Cp]
                 [:q :!Cq]
                 [:r :!Cr]
                 [:s :!Cs]
                 [:t :!Ct]
                 [:u :!Cu]
                 [:v :!Cv]
                 [:w :!Cw]
                 [:x :!Cx]
                 [:y :!Cy]
                 [:z :!Cz]
                 [:1 :!C1]
                 [:2 :!C2]
                 [:3 :!C3]
                 [:4 :!C4]
                 [:5 :!C5]
                 [:6 :!C6]
                 [:7 :!C7]
                 [:8 :!C8]
                 [:9 :!C9]
                 [:0 :!C0]]}
        {:des "colonkey (shift)"
         :rules [:semicolon-mode
                 [:1 :!T1]
                 [:2 :!T2]
                 [:3 :!T3]
                 [:4 :!T4]
                 [:5 :!T5]
                 [:q :!Sq]
                 [:w :!Sw]
                 [:e :!Se]
                 [:r :!Sr]
                 [:t :!St]
                 [:y :!Sy]
                 [:u :!Su]
                 [:i :!Si]
                 [:o :!So]
                 [:p :!Sp]
                 [:a :!Sa]
                 [:s :!Ss]
                 [:d :!Sd]
                 [:f :!Sf]
                 [:g :!Sg]
                 [:h :!Sh]
                 [:j :!Sj]
                 [:k :!Sk]
                 [:l :!Sl]
                 [:grave_accent_and_tilde [:!Sgrave_accent_and_tilde]] ; -> ~
                 [:comma :!Scomma]
                 [:period :!Speriod]
                 [:slash :!Sslash]
                 [:quote :!Squote]
                 [:z :!Sz]
                 [:x :!Sx]
                 [:c :!Sc]
                 [:v :!Sv]
                 [:b :!Sb]
                 [:n :!Sn]
                 [:m :!Sm]]}
        ]}
