{:profiles
 {:goku {:default true
         :sim     50
         :delay   80
         :alone   120
         :held    70}}
 :templates {:alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%4s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :open "open \"%s\""
             }
 :devices {:HHKB [{:vendor_id 1278 :product_id 33}]
           :REALFORCE [{:vendor_id 2131 :product_id 328}]
 :applications {:chromes ["^com\\.google\\.Chrome$" "^com\\.google\\.Chrome\\.canary$"]}
 :input-sources {:us {:input_mode_id ""
                          :input_source_id "com.apple.keylayout.US"
                          :language "en"}}}
 :simlayers {
 		:2-mode {:key :2}
                :3-mode {:key :3}
                :semicolon-mode {:key :semicolon}
                :w-mode {:key :w}
                :e-mode {:key :e}
                :d-mode {:key :d}
                :s-mode {:key :s}
                :g-mode {:key :g}
                :f-mode {:key :f}
                :o-mode {:key :o}}
 :main [
        {:des "REALFORCE modifiers"
         :rules [:REALFROCE
                 [:##left_command :left_option]
                 [:##right_command :right_option]
                 [:##left_option :left_command nil {:alone :!Ctab}]
                 [:##right_option :right_command nil {:alone :!CTOSspacebar}]
                                  ]}
        {:des   "caps_lock to esc when pressed alone, to ctrl as modifier"
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des "right cmd -> Alfred"
         :rules [[:right_command :right_command nil {:alone :!CTOSspacebar}]]}
        {:des "left cmd -> cmd+tab"
         :rules [[:##left_command :left_command nil {:alone :!Ctab}]]}
        {:des "w/, (apps)"
         :rules [:w-mode
                [:q [:km "open: qutebrowser"]]
                [:e [:km "open: Finder"]]
                [:t [:km "open: 2Do"]]
                [:o [:km "open: Keyboard Maestro"]]
                [:a :!OSC1] ; Open Dash
                [:d [:km "open: Dash"]]
                [:f [:km "open: Fantastical"]]
                [:g [:km "open: GitKraken"]]
                [:h [:km "open: Paw"]]
                [:j [:km "open: iTerm"]]
                [:k [:km "open: Safari"]]
                [:l [:km "open: Code"]]
                [:semicolon [:km "open: MacVim"]]
                [:quote [:km "open: Emacs"]]
                [:c [:km "open: Google Chrome"]]
                [:v [:km "open: Vivaldi"]]
                [:b [:km "open: BetterTouchTool"]]
                [:n [:km "open: Sublime Text"]]
                [:period [:km "open: SnippetsLab"]]
                ]}
        {:des "ekey (cmd)"
         :rules [:e-mode
                 [:tab :!Ctab]
                 [:spacebar :!Cspacebar]
                 [:return_or_enter :!Creturn_or_enter]
                 [:open_bracket :!Copen_bracket]
                 [:close_bracket :!Cclose_bracket]
                 [:semicolon :!Csemicolon]
                 [:quote :!Cquote]
                 [:comma :!Ccomma]
                 [:period :!Cperiod]
                 [:slash :!Cslash]
                 [:a :!Ca]
                 [:b :!Cb]
                 [:c :!Cc]
                 [:d :!Cd]
                 [:f :!Cf]
                 [:g :!Cg]
                 [:h :!Ch]
                 [:i :!Ci]
                 [:j :!Cj]
                 [:k :!Ck]
                 [:l :!Cl]
                 [:m :!Cm]
                 [:n :!Cn]
                 [:o :!Co]
                 [:p :!Cp]
                 [:q :!Cq]
                 [:r :!Cr]
                 [:s :!Cs]
                 [:t :!Ct]
                 [:u :!Cu]
                 [:v :!Cv]
                 [:w :!Cw]
                 [:x :!Cx]
                 [:y :!Cy]
                 [:z :!Cz]
                 [:1 :!C1]
                 [:2 :!C2]
                 [:3 :!C3]
                 [:4 :!C4]
                 [:5 :!C5]
                 [:6 :!C6]
                 [:7 :!C7]
                 [:8 :!C8]
                 [:9 :!C9]
                 [:0 :!C0]]}
        {:des "colonkey (shift)"
         :rules [:semicolon-mode
                 [:1 :!T1]
                 [:2 :!T2]
                 [:3 :!T3]
                 [:4 :!T4]
                 [:5 :!T5]
                 [:q :!Sq]
                 [:w :!Sw]
                 [:e :!Se]
                 [:r :!Sr]
                 [:t :!St]
                 [:y :!Sy]
                 [:u :!Su]
                 [:i :!Si]
                 [:o :!So]
                 [:p :!Sp]
                 [:a :!Sa]
                 [:s :!Ss]
                 [:d :!Sd]
                 [:f :!Sf]
                 [:g :!Sg]
                 [:h :!Sh]
                 [:j :!Sj]
                 [:k :!Sk]
                 [:l :!Sl]
                 [:grave_accent_and_tilde [:!Sgrave_accent_and_tilde]] ; -> ~
                 [:comma :!Scomma]
                 [:period :!Speriod]
                 [:slash :!Sslash]
                 [:quote :!Squote]
                 [:z :!Sz]
                 [:x :!Sx]
                 [:c :!Sc]
                 [:v :!Sv]
                 [:b :!Sb]
                 [:n :!Sn]
                 [:m :!Sm]]}
        {:des "skey (essential)"
         :rules [:s-mode
                 [:w [:!Oleft_arrow :!OSright_arrow]] ; Highlight word
                 [:e :tab]
                 [:r :!Stab]
                 [:t :!Sreturn_or_enter]
                 [:u :!COp] ; Selection -> HasteBin link
                 [:i :!CTperiod] ; Contexts search active windows
                 [:o :!Cx] ; Cut
                 [:open_bracket [:km "Lowercase selected text"]]
                 [:close_bracket [:km "Uppercase selected text"]]
                 [:a :!Cc] ; Copy
                 [:d :delete_or_backspace]
                 [:f :return_or_enter]
                 [:g :!Ctab]
                 [:##h :left_arrow]
                 [:##j :down_arrow]
                 [:##k :up_arrow]
                 [:##l :right_arrow]
                 [:semicolon :!CTO9] ; Search Typinator
                 [:quote [:!Cleft_arrow :!CSright_arrow]] ; Highlight current line
                 [:c :!Cdelete_or_backspace]
                 [:v :left_shift]
                 [:##b :!Cleft_arrow]
                 [:n :!Cv] ; Paste
                 [:##m :!Cright_arrow]
                 [:spacebar [:open "/System/Applications/Siri.app"]]
                 [:period :!COS0]]} ; Selection -> Typinator snippet
        {:des "dkey (mouse)"
         :rules [:d-mode
                 [:w [:km "Google Searchio selected word"]]
                 [:u [:km "Google Lucky selected word"]]
                 [:i :!Ckeypad_hyphen] ; Zoom out
                 [:o :!Ckeypad_plus] ; Zoom in
                 [:k {:mkey {:vwheel -60}}] ; Scroll up
                 [:l [:km "Google selected word"]]
                 [:semicolon [:km "Google clipboard"]]
                 [:quote [:km "Select line and google"]]
                 [:z {:pkey :button2}] ; Right click
                 [:v {:pkey :button1}] ; Left click
                 [:b {:pkey :button3}] ; Middle click
                 [:n [:km "Open URL in clipboard in Safari"]]
                 [:comma :!TO8] ; Show Launchpad
                 [:period :!CTO3] ; Mission control
                 [:spacebar :!Wsemicolon]]} ; Dictation
        {:des "fkey (essential)"
         :rules [:f-mode
                 ;[:3 :!CTOp] ; TODO: View Sip
                 [:q [:km "open: Photos"]]
                 ;[:w [:km "open: Simulator / Xcode"]]
                 [:w [:km "open: Chrome Canary  / VS Code"]]
                 [:e :!CO8] ; Alfred clipboard history search
                 [:r [:km "Centre mouse to active app"]]
                 [:i :!Treturn_or_enter]
                 [:o :!Oreturn_or_enter]
                 [:p :!CTOc] ; Sleep
                 [:open_bracket :!CT5] ; Turn display on/off
                 [:caps_lock :!CTOu] ; Sip color picker
                 [:a [:km "open: Figma"]]
                 [:s [:km "edit: 2nd iTerm tab"]]
                 [:h [:km "Make markdown link from selection {link}"]]
                 [:j [:km "edit: 1st iTerm tab"]]
                 [:k :return_or_enter]
                 [:l :!Creturn_or_enter]
                 [:semicolon [:km "edit: Karabiner"]]
                 [:z :!Ospacebar] ; Switch language (Russian <-> English)
                 [:n :!Freturn_or_enter]
                 [:m :!Sreturn_or_enter]
                 [:comma  [:km "Add safari link to selected markdown text"]]
                 [:period :!CTO4] ; Alfred file action
                 [:spacebar :!CTq]]} ; Selection -> Web Searches
        {:des "gkey (actions)"
         :rules [:g-mode
                 [:q :!CT3] ; Search bartender menu items
                 [:w :!CSgrave_accent_and_tilde] ; Switch between active windows (go up)
                 [:e [:km "Go to test macro"]]
                 [:r [:km "Test"]]
                 [:caps_lock [:km "Go to KM group of current app from picklist"]]
                 [:a [:km "Go to KM group of current app"]]
                 [:s [:km "Dismiss notifications"]]
                 [:d [:km "Make global macro"]] ; TODO: create global macro from Test (clear test, focus on naming new macro)
                 [:h :!CSOa] ; Move window left
                 [:j :!Cgrave_accent_and_tilde] ; Switch between active windows  (go down)
                 [:k :!COSf] ; Maximize window
                 [:l :!CSOd] ; Move window right
                 [:semicolon :!COSs] ; Move window between different screen & maximize (iPad)
                 [:z :!CO0] ; Show Dropzone dropdown
                 [:n :!CTOg] ; Turn on/off notifications
                 [:m :!COslash]]} ; Show/hide notification centre
        {:des "okey (apps)"
        :rules [:o-mode
                [:1 :!C1]
                [:2 :!C2]
                [:3 :!C3]
                [:4 :!C4]
                [:5 :!C5]
                [:6 :!C6]
                [:r [:km "open: Remote Mouse"]]
                [:k [:km "open: KeyCastr"]]
                [:u [:km "open: Ulysses"]]
                [:i [:km "open: Music"]]
                [:p [:km "open: Paste"]]
                [:s [:km "open: Screens"]]
                [:v [:km "open: Vivaldi (MySpeed)"]]]}
            ]}
