  :tos       {:same_wind_app   {:key :grave_accent_and_tilde :modi [:left_command] :lazy true}
             :prev_app        {:key :tab :modi [:left_command] :lazy true}
             :left_paren      {:key :9 :modi [:left_shift] :lazy true}
             :right_paren     {:key :0 :modi [:left_shift] :lazy true}
             :home_dir        [{:key :grave_accent_and_tilde :modi [:left_shift] :lazy true}
                               {:key :slash}]
             :regex_match_any [{:key :period}
                               {:key :8 :modi [:left_shift] :lazy true}]
             :select_dq       {:select_input_source
                               {:input_mode_id   ""
                                :input_source_id "com.apple.keylayout.DVORAK_QWERTYCMD"
                                :language        "en"}}
             :select_abc      {:select_input_source
                               {:input_source_id "^com\\.apple\\.keylayout\\.ABC$"}}}
 :modifiers {:ro :right_option}

   :layers    {:tab-mode              {:key     :tab
                                     :afterup [{:set ["yabai-move-mode" 0]}
                                               {:set ["yabai-scale-mode" 0]}
                                               {:set ["spec-mode" 0]}]
                                     :condi   [:!comma-mode :!period-mode]}
             :yabai-move-mode       {:key :f :condi :tab-mode}
             :yabai-scale-mode      {:key :c :condi :tab-mode}
             :spec-mode             {:key :s :condi :tab-mode}
             ;; :yabai-insert-mode     {:key :i :condi :tab-mode}
             :emacs-windmove-mode   {:key :q :condi [:Emacs :!comma-mode :!period-mode]}
             :emacs-windresize-mode {:key :c :condi :emacs-windmove-mode}
             :emacs-bufmove-mode    {:key :f :condi :emacs-windmove-mode}
             :period-mode           {:key :period :afterup {:set ["period-comma-mode" 0]} :condi [:!emacs-s-mode :!tmux-windmove-mode :!k2-mode]}
             :comma-mode            {:key :comma :condi [:!emacs-s-mode :!tmux-windmove-mode]}
             :tmux-windmove-mode    {:key :q :condi [:Terminals :!comma-mode :!period-mode]}
             :tmux-windresize-mode  {:key :c :condi :tmux-windmove-mode}
             :k2-mode               {:key :2 :condi [:!tab-mode :!tmux-windmove-mode]}}
 
 :simlayers{
               :test-mode             {:key :9}
             :contexts-f-mode       {:key :f}
             :emacs-m-mode          {:key :m :condi :Emacs}
             :emacs-v-mode          {:key :v :condi :Emacs}
             :emacs-special-s-mode  {:key :s :condi :Emacs :afterup {:key :return_or_enter}}
             :emacs-s-mode          {:key :s :condi :Emacs}
             :vscode-s-mode         {:key :s :condi :VSCode}
             :browser-s-mode        {:key :s :condi :Browsers}
             :emacs-s-mode-terminal {:key :s :condi :Terminals}
             :mouse_keys_mode_v4    {:key :a :afterup {:set ["mouse_keys_mode_v4_scroll" 0]}}
             :vi-mode               {:key :d}
             :vi-visual-mode        {:key :v :condi :!vim-mode-disabled-application}
             :launch-mode           {:key :w}
             ;; :q-mode {:key :q :condi [:!comma-mode :!period-mode]}
             :alfred-mode           {:key :z}
             :finder-alfred-mode    {:key :z :condi :Finder}
             :browsers-alfred-mode  {:key :z :condi :Browsers}
           }



             {:des   "contexts"
              :rules [[[:m :l] [:f16 ["in-contexts" 1]]]
                      [:semicolon :right_option nil {:alone :semicolon}]
                      [:escape [:escape ["in-contexts" 0]] ["in-contexts" 1]]
                      [{:pkey :button1} [{:pkey :button1} ["in-contexts" 0]] ["in-contexts" 1]]
                      [:##left_control :left_control ["in-contexts" 1] {:alone [:escape ["in-contexts" 0]]}]
                      [:##caps_lock [:left_control] ["in-contexts" 1] {:alone [:escape ["in-contexts" 0]]}]
                      [:return_or_enter [:return_or_enter ["in-contexts" 0]] ["in-contexts" 1]]
                      [:!Tm [:return_or_enter ["in-contexts" 0]] ["in-contexts" 1]]
                      :contexts-f-mode
                      [:j [["in-contexts" 1] :f16] ["in-contexts" 0]]
                      [:k [["in-contexts" 1] :f16] ["in-contexts" 0]]
                      [:j :down_arrow ["in-contexts" 1]]
                      [:k :up_arrow ["in-contexts" 1]]
                      [:e [:f :e]]
                      [:l [:return_or_enter ["in-contexts" 0]] ["in-contexts" 1]]]}ß