{:profiles
 {:goku
  {:default true
   :sim 50
   :delay 80
   :alone 120
   :held 70}}
 :templates {:alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%4s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :open "open \"%s\""}
 :devices{
          :HHKB [{:vendor_id 1278 :product_id 33}]
          :REALFORCE [{:vendor_id 2131 :product_id 328}]
          }
 :applications {
         :chromes ["^com\\.google\\.Chrome$" "^com\\.google\\.Chrome\\.canary$"]
         }
 :input-sources {
                :us {:input_mode_id ""
                :input_source_id "com.apple.keylayout.US"
                :language "en"}}
 :simlayers{
             :s-mode {:key :s}
             :c-mode {:key :c}
             :a-mode {:key :a}
             }
 :main [
        {:des "S-key (essentials)"
         :rules [:s-mode
                 [:d :delete_or_backspace]
                 [:f :return_or_enter]
                 [:g :!Ctab]
                 [:spacebar [:open "/System/Applications/Siri.app"]]
         ]}
        {:des "C-mode (utility)"
         :rules [:c-mode
                 [:d :!!!g]]
                }
        {:des "realforce right cmd -> Alfred"
         :rules [:REALFORCE
                [:##right_option :right_command nil {:alone :!CTOSspacebar}]]}
        {:des "realforce right option"
                :rules [:REALFORCE
                [:##right_command :right_option]]}
        {:des "realforce left command"
                :rules [:REALFORCE
                [:##left_command :left_option]]}
        {:des "realfroce left opt -> cmd+tab"
                :rules [:REALFORCE
                [:##left_option :left_command nil {:alone :!Ctab}]]}
        {:des   "caps_lock to esc when pressed alone, to ctrl as modifier"
                :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des "right cmd -> Alfred"
                :rules [[:right_command :right_command nil {:alone :!CTOSspacebar}]]}
        {:des "left cmd -> cmd+tab"
                :rules [[:##left_command :left_command nil {:alone :!Ctab}]]}
        ]}
