{:profiles
 {:goku {:default true :alone 80 :held 50 :delay 0 :sim 30}}
 :tos {:same_wind_app   {:key :grave_accent_and_tilde :modi [:left_command] :lazy true}
       :prev_app        {:key :tab :modi [:left_command] :lazy true}
       :left_paren      {:key :9 :modi [:left_shift] :lazy true}
       :right_paren     {:key :0 :modi [:left_shift] :lazy true}
       :home_dir        [{:key :grave_accent_and_tilde :modi [:left_shift] :lazy true}
                         {:key :slash}]
       :regex_match_any [{:key :period}
                         {:key :8 :modi [:left_shift] :lazy true}]
       :select_us       {:select_input_source
                         {:input_mode_id   ""
                          :input_source_id "com.apple.keylayout.US"
                          :language        "en"}}
       :select_abc      {:input :abc}}
 :modifiers {:ro :right_option}
 :templates {:launch     "osascript -e 'tell application \"Alfred 4\" to run trigger \"launch%s\" in workflow \"yqrashawn.workflow.launcher\" with argument \"\"'"
            :alf        "open /Applications/Alfred\\ 4.app && osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\"'"
            :alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
            :km         "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
            :kb-maestro "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
            :open       "open \"%s\""
            :opena      "open -a \"%s\""
            :show       "osascript -e 'set appName to \"%s\"\nset startIt to false\ntell application \"System Events\"\n  if not (exists process appName) then\n    set startIt to true\n  else\n    set frontmost of process appName to true\n  end if\nend tell\nif startIt then\n  tell application appName to activate\nend if'\n"
            :toggle     "osascript -e 'set appName to \"%s\"\nset startIt to false\ntell application \"System Events\"\n  if not (exists process appName) then\n    set startIt to true\n  else if frontmost of process appName then\n    set visible of process appName to false\n  else\n    set frontmost of process appName to true\n  end if\nend tell\nif startIt then\n  tell application appName to activate\nend if'"
             :type       "osascript -e 'tell application \"System Events\" to keystroke \"%s\" as text'"
            ;; :focus      "/usr/local/bin/yabai -m display --focus \"%s\" & /usr/local/bin/yabai -m space --focus \"%s\""}
             }
 :layers {:tmux-windmove-mode    {:key :q :condi [:Terminals :!comma-mode :!period-mode]}
          :tmux-windresize-mode  {:key :c :condi :tmux-windmove-mode}}
 :simlayers {:contexts-f-mode       {:key :f}
             :launch-mode {:key :w}
             :vscode-s-mode         {:key :s :condi :VSCode}}
 :main [{:des "fl to esc, fh to ..."
         :rules
         [[[:f :l] :escape]
          ;; [[:f :h] :escape]
          ]}
        {:des   "launcher mode"
         :rules [:launch-mode
                 ;; [:k [:open "/Applications/Emacs.app"]]
                 ;; [:k [:show "Emacs"]]
                 [[:j [:opena "kitty"]]]}
        {:des "left cmd -> cmd+tab"
         :rules [[:left_command :left_command nil {:alone :!Ctab}]]}
        {:des   "global C-h to backspace"
         :rules [[:!Th :delete_or_backspace nil {:params {:alone 500 :held 500}}]]}]
 :devices {:macbook-air [{:product_id 641 :vendor_id 1452}]

           :hhkb [{:vendor_id 2131 :product_id 256}]}
:applications       {:emacs-mode-disable-app        ["^org\\.gnu\\.Emacs$",
                                                      "^org\\.gnu\\.AquamacsEmacs$",
                                                      "^org\\.gnu\\.Aquamacs$",
                                                      "^org\\.pqrs\\.unknownapp.conkeror$",
                                                      "^com\\.microsoft\\.rdc$",
                                                      "^com\\.microsoft\\.rdc\\.mac$",
                                                      "^com\\.microsoft\\.rdc\\.macos$",
                                                      "^com\\.microsoft\\.rdc\\.osx\\.beta$",
                                                      "^net\\.sf\\.cord$",
                                                      "^com\\.thinomenon\\.RemoteDesktopConnection$",
                                                      "^com\\.itap-mobile\\.qmote$",
                                                      "^com\\.nulana\\.remotixmac$",
                                                      "^com\\.p5sys\\.jump\\.mac\\.viewer$",
                                                      "^com\\.p5sys\\.jump\\.mac\\.viewer\\.web$",
                                                      "^com\\.teamviewer\\.TeamViewer$",
                                                      "^com\\.vmware\\.horizon$",
                                                      "^com\\.2X\\.Client\\.Mac$",
                                                      "^com\\.apple\\.Terminal$",
                                                      "^com\\.googlecode\\.iterm2$",
                                                      "^co\\.zeit\\.hyperterm$",
                                                      "^co\\.zeit\\.hyper$",
                                                      "^io\\.alacritty$",
                                                      "^com\\.github\\.wez\\.wezterm$"
                                                      "^net\\.kovidgoyal\\.kitty$",
                                                      "^org\\.vim\\.",
                                                      "^com\\.qvacua\\.VimR$",
                                                      "^com\\.vmware\\.fusion$",
                                                      "^com\\.vmware\\.horizon$",
                                                      "^com\\.vmware\\.view$",
                                                      "^com\\.parallels\\.desktop$",
                                                      "^com\\.parallels\\.vm$",
                                                      "^com\\.parallels\\.desktop\\.console$",
                                                      "^org\\.virtualbox\\.app\\.VirtualBoxVM$",
                                                      "^com\\.vmware\\.proxyApp\\.",
                                                      "^com\\.parallels\\.winapp\\.",
                                                      "^org\\.x\\.X11$",
                                                      "^com\\.apple\\.x11$",
                                                      "^org\\.macosforge\\.xquartz\\.X11$",
                                                      "^org\\.macports\\.X11$",
                                                      "^com\\.sublimetext\\.",
                                                      "^com\\.microsoft\\.VSCode(Insiders)?$"]
                      :VSCode                        ["^com\\.microsoft\\.VSCode(Insiders)?$"]
                      :Emacs                         ["^org\\.gnu\\.Emacs$"
                                                      "^org\\.gnu\\.AquamacsEmacs$"
                                                      "^org\\.gnu\\.Aquamacs$"]
                      :Chromes                       ["^org\\.chromium\\.Chromium$"
                                                      "^com\\.google\\.Chrome$"
                                                      "^com\\.google\\.Chrome\\.dev$"
                                                      "^com\\.google\\.Chrome\\.canary$"
                                                      "^com\\.microsoft\\.edgemac\\.Beta$"
                                                      "^com\\.brave\\.Browser$"]
                      :Chrome                        ["^com\\.google\\.Chrome$"]
                      :ChromeCanary                  ["^com\\.google\\.Chrome\\.canary$"]
                      :Chromium                      ["^org\\.chromium\\.Chromium$"]
                      :Firefoxes                     ["^org\\.mozilla\\.firefox$"
                                                      "^org\\.mozilla\\.firefoxdeveloperedition$"]
                      :Terminals                     ["^com\\.apple\\.Terminal$"
                                                      "^com\\.googlecode\\.iterm2$"
                                                      "^co\\.zeit\\.hyperterm$"
                                                      "^co\\.zeit\\.hyper$"
                                                      "^io\\.alacritty$"
                                                      "^com\\.github\\.wez\\.wezterm$"
                                                      "^net\\.kovidgoyal\\.kitty$"]
                      :vim-mode-disabled-application ["^com\\.apple\\.Terminal$"
                                                      "^com\\.googlecode\\.iterm2$"
                                                      "^co\\.zeit\\.hyperterm$"
                                                      "^co\\.zeit\\.hyper$"
                                                      "^io\\.alacritty$"
                                                      "^com\\.github\\.wez\\.wezterm$"
                                                      "^net\\.kovidgoyal\\.kitty$"
                                                      "^org\\.vim\\."
                                                      "^com\\.qvacua\\.VimR$"]
                      :Finder                        ["^com\\.apple\\.finder$"]
                      :Debuggers                     ["^org\\.mozilla\\.firefox$"
                                                      "^com\\.microsoft\\.edgemac\\.Beta$"
                                                      "^org\\.mozilla\\.firefoxdeveloperedition$"
                                                      "^com\\.google\\.Chrome$"
                                                      "^org\\.chromium\\.Chromium$"
                                                      "^com\\.google\\.Chrome\\.canary$"
                                                      "^com\\.apple\\.Safari$"
                                                      "^com\\.microsoft\\.VSCode(Insiders)?$"
                                                      "^com\\.brave\\.Browser$"]
                      :Alfred                        ["^com\\.runningwithcrayons\\.Alfred$"]
                      :Todoist                       ["^com\\.todoist\\.mac\\.Todoist$"]
                      :Keybase                       ["^keybase\\.Electron$"]
                      :Browsers                      ["^org\\.mozilla\\.firefox$"
                                                      "^org\\.mozilla\\.firefoxdeveloperedition$"
                                                      "^com\\.google\\.Chrome$"
                                                      "^org\\.chromium\\.Chromium$"
                                                      "^com\\.google\\.Chrome\\.canary$"
                                                      "^com\\.apple\\.Safari$"
                                                      "^com\\.microsoft\\.edgemac\\.Beta$"]
                      :wechat                        ["^com\\.tencent\\.xinWeChat$"]
                      :REBL                          ["^net\\.java\\.openjdk\\.cmd$"]
                      :2Do                           ["^com\\.guidedways\\.TodoMac$"]}
 :input-sources      {:squirrel {:input_mode_id   "^com\\.googlecode\\.rimeime\\.inputmethod\\.Squirrel$"
                                 :input_source_id "^com\\.googlecode\\.rimeime\\.inputmethod\\.Squirrel\\.Rime$"}
                      :us       {:input_mode_id   ""
                                 :input_source_id "com.apple.keylayout.US"
                                 :language        "en"}
                      :abc      {:input_source_id "^com\\.apple\\.keylayout\\.ABC$"}
                      :cn       {:input_source_id "^com\\.apple\\.inputmethod\\.SCIM\\.ITABC$"}}
 :simlayer-threshold 210}
