{:des "realforce right cmd -> Alfred"
         :rules [:REALFORCE
	        [:##right_option :right_command nil {:alone :!CTOSspacebar}]]}
        {:des "realforce right option"
         :rules [:REALFORCE
	        [:##right_command :right_option]]}
       {:des "realforce left command"
         :rules [:REALFORCE
	        [:##left_command :left_option]]}
        {:des "realfroce left opt -> cmd+tab"
         :rules [:REALFORCE
                 [:##left_option :left_command nil {:alone :!Ctab}]]}
        {:des   "caps_lock to esc when pressed alone, to ctrl as modifier"
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des "right cmd -> Alfred"
         :rules [[:right_command :right_command nil {:alone :!CTOSspacebar}]]}
        {:des "left cmd -> cmd+tab"
		:rules [[:##left_command :left_command nil {:alone :!Ctab}]]}		
